.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.visually-tablet {
  @include visually-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visually-mobile {
  @include mobile-above {
    display: none !important;
  };

}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }

}

